
.select-wrapper {
  --mdb-form-outline-select-arrow-color: #000;
  --mdb-form-outline-select-arrow-font-size: 16px;
  --mdb-form-outline-select-arrow-top: 7px;
  --mdb-form-outline-select-arrow-right: 16px;
}

.select-arrow {
  color: var(--mdb-form-outline-select-arrow-color);
  text-align: center;
  font-size: var(--mdb-form-outline-select-arrow-font-size);
  position: absolute;
  top: var(--mdb-form-outline-select-arrow-top);
  right: var(--mdb-form-outline-select-arrow-right)
}

.select-arrow:after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent
}

.select-arrow:empty:after {
  margin-left: 0
}

.datatable-pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: var(--mdb-datatable-pagination-border-width) solid var(--mdb-datatable-border-color)
}

.datatable-pagination-nav {
  padding: 0;
  font-size: var(--mdb-datatable-pagination-nav-font-size);
  direction: ltr
}

.datatable-header {
  background-color: #d0e1ff;
}

th {
	max-width: 50px;
}

tr {
	max-width: 50px;
}


/* 
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.table-thin table {
  border-spacing: 0;
  margin-bottom: 0px;
}
.table-thin table tbody tr td {
  padding-top: 0;
  font-size: 12px;
  height: 30px;
}
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
}
.table-thin td, .table-thin th {
 border: 1px solid;
 white-space: nowrap;
 width: 0;
}

.table-thin td:first-child {
 max-width: 0;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;  
} */