@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu-LightItalic"), url(/static/fonts/Ubuntu-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu-Light"), url(/static/fonts/Ubuntu-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu-Regular"), url(/static/fonts/Ubuntu-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu-Italic"), url(/static/fonts/Ubuntu-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu-Medium"), url(/static/fonts/Ubuntu-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu-MediumItalic"), url(/static/fonts/Ubuntu-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu-Bold"), url(/static/fonts/Ubuntu-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu-BoldItalic"), url(/static/fonts/Ubuntu-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}


body {
	background: #DEE1E6;
}


