{% extends 'mainApp/base.html' %}

{% block content %}
<div style="width: 100%; height: 40px;">

</div>

<section class="container-fluid">
    <div class="bg-white border rounded-1">
        <section class="w-100 p-4">
            <div class="input-group mb-4">
                <input class="form-control" id="advanced-search-input" placeholder="phrase in:field1,field2"
                    type="text">
                <button class="btn btn-primary" id="advanced-search-button" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </section>

        <section class="">

            <div class="datatable" id="datatable-advanced-search">
                <div class="datatable-inner table-responsive table-thin" style="overflow: auto; position: relative;">

                    <!-- If data loaded -->
                    <table class="table datatable-table">

                        <!-- headers -->
                        <thead class="datatable-header">
                            <th scope="col">
                              <div class="form-check d-flex align-items-center mb-0">
                                <input class="datatable-header-checkbox form-check-input" type="checkbox" >
                              </div>
                            </th>

                            <th scope="col">#</th>

                            {% for field, value in data.0.fields.items %}
                                <th scope="col">{{ field }}</th>
                            {% endfor %}

                            <th style="" scope="col">Actions</th>
                        </thead>

                        <!-- data -->
                        <tbody class="datatable-body">
                            {% for instance in data %}
                                <tr scope="row" style="white-space: nowrap;">
                                    <td>
                                      <div class="form-check">
                                        <input data-mdb-row-index="0" class="datatable-row-checkbox form-check-input" type="checkbox">
                                      </div>
                                    </td>

                                    <td class="" style="">{{ forloop.counter0 }}</td>

                                    {% for field, value in instance.fields.items %}
                                    <td class="">{{ value }}</td>
                                    {% endfor %}

                                    <td style="" class="">
                                        <button role="button" class="call-btn btn btn-outline-primary btn-floating btn-sm" id="edit-entry-button">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                        <button role="button" class="call-btn btn btn-outline-primary btn-floating btn-sm" id="delete-entry-button">
                                            <i class="bi bi-trash3-fill"></i>
                                        </button>
                                        <button role="button" class="message-btn btn ms-2 btn-primary btn-floating btn-sm" id="three-dots-entry-button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- IF data loaded END -->

                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" style="left: 0px; width: 0px;" tabindex="0"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                        <div class="ps__thumb-y" style="top: 0px; height: 0px;" tabindex="0"></div>
                    </div>

                    <!-- IF data not loaded-->
                    <div class="datatable-loader bg-light">
                        <span class="datatable-loader-inner">
                            <span class="datatable-progress bg-primary"></span></span>
                    </div>

                    <p class="text-center text-muted my-4">Loading results...</p>
                    <!-- if data not loaded END-->
                </div>

                <!-- pagination -->
                <div class="datatable-pagination">
                    <div class="datatable-select-wrapper">
                        <p class="datatable-select-text">Rows per page:</p>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <!-- if not available "page-item disabled" -->
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span class="sr-only">Next</span>
                                        <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="datatable-pagination-nav">
                        0 of 0
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


{% endblock %}  